---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Icon } from "astro-icon";

type Link = {
  text: string;
  href: string;
  name?: string;
  target?: string;
};

const links: Link[] = [
  {
    text: "Resume",
    href: "/resume",
  },
  {
    text: "Projects",
    href: "#projects",
  },
];

const iconLinks: Link[] = [
  {
    text: "Bookshelf",
    name: "mdi:bookshelf",
    href: "#bookshelf",
    target: "_self", // This link has a 'target' property
  },
  {
    text: "Github",
    name: "mdi:github-face",
    href: "https://github.com/brian-gee",
    target: "_blank", // This link has a 'target' property
  },
  {
    text: "Email",
    name: "mdi:email",
    href: "mailto:briange@tuta.io",
  },
];
---

<header
  class="flex w-full justify-center p-6"
  x-data="{ open: false }"
  :class="{ 'pb-32': open }"
>
  <div class="w-full max-w-4xl">
    <nav
      class="relative mb-10 flex w-full items-center justify-between border-b-[1px] border-blue-300 pb-4"
    >
      <a href="/">
        {SITE_TITLE}
      </a>
      <!-- Navigation -->
      <div>
        <!-- Desktop Navigation -->
        <nav class="hidden sm:block">
          <div class="inline space-x-4 pr-6">
            {
              links.map((link) => (
                <HeaderLink href={link.href}>{link.text}</HeaderLink>
              ))
            }
          </div>
          <div class="inline space-x-2">
            {
              iconLinks.map((link) => (
                <a
                  href={link.href}
                  target={link.target}
                  rel="noopener noreferrer"
                >
                  <Icon name={link.name} class="inline h-6 w-6" />
                </a>
              ))
            }
          </div>
        </nav>
        <!-- Mobile Navigation -->
        <div>
          <Icon
            @click="open = !open"
            class="h-6 w-6 fill-current hover:cursor-pointer sm:hidden"
            x-show="!open"
            name="ic:outline-menu"
          />

          <Icon
            @click="open = !open"
            class="h-6 w-6 fill-current hover:cursor-pointer sm:hidden"
            x-show="open"
            name="ic:outline-close"
          />
          <!-- Menu -->
          <nav
            x-show="open"
            @click.away="open = false"
            class="absolute left-0 top-full w-full border-y-[1px] border-blue-300 sm:hidden"
          >
            <div class="overflow-y-auto pb-4 pt-5">
              <div class="space-y-1 px-2">
                {
                  links.map((link) => (
                    <HeaderLink
                      @click="open = false"
                      class="block text-center"
                      href={link.href}
                      target={link.target}
                    >
                      {link.text}
                    </HeaderLink>
                  ))
                }
                <div class="flex justify-center space-x-2 pt-2">
                  {
                    iconLinks.map((link) => (
                      <a
                        href={link.href}
                        target={link.target}
                        rel="noopener noreferrer"
                      >
                        <Icon name={link.name} class="inline h-6 w-6 " />
                      </a>
                    ))
                  }
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </nav>
  </div>
</header>
