---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon';

type Link = {
  text: string;
  href: string;
  name?: string;
  target?: string;
};

const links: Link[] = [
  {
    text: 'Articles',
    href: '/articles',
  },
  {
    text: 'Projects',
    href: '/projects',
  },
  {
    text: 'About',
    href: '/about',
  },
];

const iconLinks: Link[] = [
  {
    text: 'Bookshelf',
    name: 'mdi:bookshelf',
    href: '/bookshelf',
    target: '_self', // This link has a 'target' property
  },
  {
    text: 'Github',
    name: 'mdi:github-face',
    href: 'https://github.com/brian-gee',
    target: '_blank', // This link has a 'target' property
  },
  {
    text: 'Email',
    name: 'mdi:email',
    href: 'mailto:briangeertsma@gmail.com',
  },
];
---

<header
  class="flex justify-center w-full p-6"
  x-data="{ open: false }"
  :class="{ 'pb-32': open }">
  <div class="max-w-4xl w-full">
    <nav
      class="relative flex items-center justify-between w-full border-b-[1px] border-blue-300 pb-4 mb-10">
      <a href="/">
        {SITE_TITLE}
      </a>
      <!-- Navigation -->
      <div>
        <!-- Desktop Navigation -->
        <nav class="hidden sm:block">
          <div class="inline pr-6 space-x-4">
            {
              links.map((link) => (
                <HeaderLink href={link.href}>{link.text}</HeaderLink>
              ))
            }
          </div>
          <div class="inline space-x-2">
            {
              iconLinks.map((link) => (
                <a
                  href={link.href}
                  target={link.target}
                  rel="noopener noreferrer">
                  <Icon name={link.name} class="w-6 h-6 inline" />
                </a>
              ))
            }
          </div>
        </nav>
        <!-- Mobile Navigation -->
        <div>
          <Icon
            @click="open = !open"
            class="h-6 w-6 fill-current sm:hidden hover:cursor-pointer"
            x-show="!open"
            name="ic:outline-menu"
          />

          <Icon
            @click="open = !open"
            class="h-6 w-6 fill-current sm:hidden hover:cursor-pointer"
            x-show="open"
            name="ic:outline-close"
          />
          <!-- Menu -->
          <nav
            x-show="open"
            @click.away="open = false"
            class="absolute top-full left-0 w-full sm:hidden border-y-[1px] border-blue-300">
            <div class="pt-5 pb-4 overflow-y-auto">
              <div class="px-2 space-y-1">
                {
                  links.map((link) => (
                    <HeaderLink
                      @click="open = false"
                      class="block text-center"
                      href={link.href}
                      target={link.target}>
                      {link.text}
                    </HeaderLink>
                  ))
                }
                <div class="flex justify-center pt-2 space-x-2">
                  {
                    iconLinks.map((link) => (
                      <a
                        href={link.href}
                        target="_blank"
                        rel="noopener noreferrer">
                        <Icon name={link.name} class="w-6 h-6 inline " />
                      </a>
                    ))
                  }
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </nav>
  </div>
</header>
