---
import ProjectCard from "../components/ProjectCard.astro";
import sushiSite from "../content/projects/sushi-site.png?url";
const projects = [
  {
    name: "Personal Portfolio",
    gitUrl: "https://github.com/brian-gee/blog",
    description: "My personal portfolio (the website you're on right now)",
    languages: ["HTML", "TailwindCSS", "TypeScript", "React", "Astro"],
    image: sushiSite,
    alt: "Astro Trades",
  },
  {
    name: "Astro Trades",
    gitUrl: "https://github.com/brian-gee/astro-trades",
    description:
      "A personal day trading tracker built using Astro and Firebase.",
    languages: ["HTML", "TailwindCSS", "TypeScript", "Firebase", "Astro"],
    image: sushiSite,
    alt: "Astro Trades",
  },
];
---

<div class="min-h-screen">
  <h1 class="text-center text-4xl sm:text-7xl">Projects</h1>
  <div class="mx-auto mt-32">
    <ul class="grid grid-cols-1 gap-8">
      {
        projects.map((project) => (
          <ProjectCard
            name={project.name}
            description={project.description}
            gitUrl={project.gitUrl}
            languages={project.languages}
            image={project.image}
            alt={project.alt}
          />
        ))
      }
    </ul>
  </div>
</div>
