---
import Badge from '../components/Badge.astro';
import { Icon } from 'astro-icon';

interface Props {
  name: string;
  role: 'author' | 'contributor' | 'maintainer' | string;
  url: string;
  description?: string;
  languages: string[];
}

const colors = {
  maintainer: 'gradient-pink',
  author: 'gradient-indigo',
  contributor: 'green',
};

const { name, role, url, description, languages } = Astro.props;
---

<li class="gap-1 p-6 rounded-lg flex flex-col shadow-lg">
  <div class="flex justify-between">
    <div class="flex flex-row items-baseline gap-2">
      <h3 class="text-lg font-medium">{name}</h3>
      <!-- <Badge text={role} color={colors[role]} /> -->
    </div>
    <a
      href={url}
      target="_blank"
      rel="noopener noreferrer"
      aria-label={`Open ${name} repository in a new tab`}>
      <Icon
        name="mdi:github"
        class="w-6 fill-current hover:text-slate-600 hover:scale-110 transition-all"
      />
    </a>
  </div>
  {description && <p class="leading-relaxed">{description}</p>}
  <ul class="flex flex-wrap gap-2 mt-2">
    {
      languages.map((item) => (
        <li class="bg-gray-300 text-gray-900 rounded-md px-2 py-1 text-sm">
          {item}
        </li>
      ))
    }
  </ul>
</li>
