---
import Badge from "./Badge";
import { Icon } from "astro-icon";

interface Props {
  name: string;
  role: "author" | "contributor" | "maintainer" | string;
  url: string;
  description?: string;
  languages: string[];
}

const colors = {
  maintainer: "gradient-pink",
  author: "gradient-indigo",
  contributor: "green",
};

const { name, role, url, description, languages } = Astro.props;
---

<li class="flex flex-col gap-1 rounded-lg bg-gray-900 p-6 shadow-lg">
  <div class="flex justify-between">
    <div class="flex flex-row items-baseline gap-2">
      <h3 class="text-lg font-medium">{name}</h3>
      <Badge text={role} color={colors[role]} />
    </div>
    <a
      href={url}
      target="_blank"
      rel="noopener noreferrer"
      aria-label={`Open ${name} repository in a new tab`}
    >
      <Icon
        name="mdi:github"
        class="w-6 fill-current transition-all hover:scale-110 hover:text-slate-600"
      />
    </a>
  </div>
  {description && <p class="leading-relaxed">{description}</p>}
  <ul class="mt-2 flex flex-wrap gap-2">
    {
      languages.map((item) => (
        <li class="rounded-md bg-gray-300 px-2 py-1 text-sm text-gray-900">
          {item}
        </li>
      ))
    }
  </ul>
</li>
