---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

interface Props {
  name: string;
  gitUrl: string;
  demoUrl: string;
  description?: string;
  languages: string[];
  image: string;
  alt: string;
}

const { name, gitUrl, demoUrl, description, languages, image, alt } = Astro.props;
---

<div class="grid gird-cols-1 md:grid-cols-2 mx-auto">
  <div class="flex rounded-xl">
    <div>
      <Image
        src={image}
        alt={alt}
        width={500}
        height={500}
        class="object-contain rounded-xl border-black border-2"
      />
    </div>
  </div>
  <div class="flex justify-end">
    <li class="flex flex-col gap-1 rounded-lg p-6">
      <div class="flex justify-end mb-5">
        <h3 class="text-xl font-medium">{name}</h3>
      </div>
      {
        description && (
          <p class="leading-relaxed text-end rounded-xl bg-gray-900 py-6 px-4 max-w-sm">
            {description}
          </p>
        )
      }
      <ul class="mt-2 flex gap-2 justify-end">
        {languages.map((item) => <li class="text-sm text-gray-400">{item}</li>)}
      </ul>
      <ul class="flex justify-end pt-2 space-x-2">
        <a
          href={gitUrl}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={`Open ${name} repository in a new tab`}
        >
          <Icon
            name="mdi:github"
            class="w-6 fill-current transition-all hover:scale-110 hover:text-slate-600"
          />
        </a>
        <a
          href={demoUrl}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={`Open ${name} repository in a new tab`}
        >
          <Icon
            name="gridicons:external"
            class="w-6 fill-current transition-all hover:scale-110 hover:text-slate-600"
          />
        </a>
      </ul>
    </li>
  </div>
</div>
